body {
    font-family: cursive;
  
  background: url('../images/country.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: 250px;
   
   padding-top: 100px;
}

.country-search{
    margin-left:auto;
    margin-right:auto;

    text-align: center;
}
